* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;;
}

.logo {
  width: 15%;
  margin-left: 50px;
}

.logo img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 3px solid transparent; /* Initially transparent border */
  position: relative;
  overflow: hidden;
  transition: border-color 0.2s ease;
}

.logo img:hover {
  border-color: rgb(14, 138, 192);
}

.navbarcontainer {
  width: 50%;
  height: auto; /* Allow height to adjust based on content */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; /* Allow wrapping of links */
}

a {
  text-decoration: none;
}

.navbarcontainer a {
  color: rgb(44, 51, 51);
  margin-bottom: 5px;
  position: relative;
  padding: 20px 0;
}

.navbarcontainer a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 0;
  background-color: rgb(31, 214, 214);
  transition: width 0.5s ease; /* Adjusted duration for quicker response */
}

.navbarcontainer a:hover::after,
.navbarcontainer a:focus::after {
  width: 100%;
}

.navbarcontainer a:hover,
.navbarcontainer a:focus {
  color: rgb(26, 223, 223);
}

.button {
  background-color: rgb(112, 171, 198);
  font-size: 14px;
  padding: 10px;
  margin-left: 15px;
  border-radius: 5px;
  border: none; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s, font-size 0.3s; 
}

.button:hover {
  border-color: rgb(17, 193, 158);
  background-color: rgb(26, 118, 160);
  font-size: 16px;
}

/* Responsive Styles */
@media(max-width: 756px) {
  .logo {
    width: 100%;
    text-align: center; 
    margin-left: 0; 
  }

  .navbarcontainer {
     display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center; 
    text-align: center;
    justify-items: center;
    margin: 1px;
  }

  .button {
    width: 100%; 
    margin: 7px 0; 
  }
}
