.text-container {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 50px;
  padding-left: 40wh;
}

.fade-text {
  display: inline-block;
  position: relative;
}

.text-role {
  display: inline-block;
  border-right: 2px solid black; /* Add a blinking cursor effect */
  animation: blink-caret 0.8s step-end infinite;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-items: center;
}

.infos{
  width: 50%;
 justify-content: center;
  justify-items: center;
  margin: 20px 0;
}

.mainlogo img{
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius:50%;
  margin: 10px;
}


.mainlogo h5{
text-align: center;
font-size:18px;
font-weight: 700;
justify-content: center;
justify-items: center;
margin-top: 30px;

}

.mainlogo ,.messagee ,.buttons{
height: auto;
display: flex;
justify-content: center;
justify-items: center;
margin-bottom: 20px;;
}

.messagee p {
  margin:0 130px;
  width:100%;
 padding:20px 0;
  border:2px solid rgb(103, 98, 98);
  border-radius: 10px;
}
.messagee p:hover  {
border-color: aqua;
}

.profileimg img {
  width:200px;
  height:270px;
  border: 2px solid black;
  border-radius: 10px;
  
}

.tools{
  width: 100%;
  background-color:#dddddd;
}
.tools h2 ,.portfolio h2 , h2{
  font-size:1.5rem;
  font-weight:700;
  margin: 25px 10px;
  padding: 10px;

}

.tools p{
  width:95%;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 25px 10px;
  color:rgb(67, 63, 63);
}

.tool-container{
  width:100%;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


 .summary {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;

  }

  .info-summary{
    width: 100%;
    background-color: rgb(212, 222, 222);
    margin:20px;
    padding:10px 200px;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align:center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .icon img {
    width:40%;
    height:95%;  
    border:1px transparent;
  }

  .icon p{
    width:60%;
    font-size: 14px;
    font-weight:300;
  }

  .icon{
    width:23%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:2px solid rgb(179, 199, 203);
    border-radius:10px;
    background-color: white;
    padding:10px;
    margin:20px;
  }

  .icon:hover{
    border-color:rgb(4, 206, 241);
  }


.button {
  background-color: rgb(112, 171, 198);
  width: 7rem;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: none; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s, font-size 0.3s; 
}
.button:hover {
  border-color: rgb(17, 193, 158);
  width:8rem;
  background-color: rgb(26, 118, 160);
  font-size: 16px;
}


@media(max-width:768px){
  .main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
  }
.infos{
  display:flex;
  flex-direction: column;
  justify-content:center;
  justify-items: center;
}
.mainlogo ,.messagee ,.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5px;;
  }
  .messagee p {
    padding:5px;
    margin:5px;
    display: block;
    width:100%;
  }
  .profileimg img{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
  }
  .projectimg img {
    padding:0;
  }
}