*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h2{
  font-weight: 700;
  text-align: center;
  margin-bottom:25px;
}
.portfolio{
    width:100%;
    background-color:#e4e4e4;
  }

.carts{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
.cart {
  width:25%;
  border:1px solid rgb(84, 68, 68);
  border-radius: 10px;
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
}
.projectimg img {
  width:90%;
  height:150px;
  align-items: center;
  padding:10px;
  border:transparent;
  border-radius: 10px;
}

.projectimg{
  width:95%;
  background-size: cover;
  align-items: center;
  padding:10px;
}

.title{
font-size: 1.2rem;
font-weight: 700;
margin-bottom:25px;
}
.buttonss{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom:15px;
  flex-wrap: wrap;
}
.button {
  background-color: rgb(112, 171, 198);
  width: 7rem;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  border: none; 
  color: #fff; 
  cursor: pointer; 
  transition: background-color 0.3s, font-size 0.3s; 
}

.button:hover {
  border-color: rgb(17, 193, 158);
  width:8rem;
  background-color: rgb(26, 118, 160);
  font-size: 16px;
}



@media(max-width:768px){
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5px;;
  }
  .messagee p {
    padding:5px;
    margin:5px;
    display: block;
    width:100%;
  }
  .projectimg img {
    padding:0;
  }
  .btns{
    padding:6px;
  }

}